/* CSS STYLES FOR JQUERY CLOCK PLUGIN */
.jqclock {
    float: left;
    text-align: center;
    border: 1px Black solid;
    padding: 10px;
    margin: 20px;
}
.jqclockdate {
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
}
.jqclocktime {
    padding: 5px;
    font-size: 14px;
    margin: 2px;
    display: block;
}